<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<title>Plagiarism Checker</title>
		<script src="https://cdn.tailwindcss.com"></script>
		<link rel="preconnect" href="https://fonts.googleapis.com" />
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
		<link
			href="https://fonts.googleapis.com/css2?family=DM+Sans:opsz,wght@9..40,400;9..40,500;9..40,700&display=swap"
			rel="stylesheet"
		/>
		<style>
			body {
				font-family: "DM Sans", sans-serif;
			}
		</style>
	</head>
	<body class="bg-gray-100">
		<!-- Nav bar starts -->
		<nav class="h-16 flex items-center border-b shadow bg-white">
			<div class="container max-w-prose mx-auto flex items-center">
				<div class="text-xl text-blue-500">Plagiarism Checker</div>
				<ul class="flex flex-1 justify-end">
					<li>
						<a
							href="https://github.com/AndrewWMeier/PlagiarismChecker"
							class="underline underline-offset-2 hover:underline-offset-4 hover:text-blue-600 transition-all"
						>
							Github
						</a>
					</li>
				</ul>
			</div>
		</nav>
		<!-- Nav bar ends -->

		<!-- Main content starts -->
		<div class="container max-w-prose mx-auto my-10">
			<div class="my-10">
				<a
					href="/"
					class="w-full text-md text-center bg-white border-2 hover:bg-blue-600 hover:text-white font-bold py-2 px-4 rounded"
				>
					<span class="mr-1">&#10229;</span>
					Check Another Sentence
				</a>
			</div>
			<h1 class="text-2xl my-4 font-medium">Plagiarism Checker Result</h1>
			<p class="text-gray-600 text-md mt-1 mb-4">
				Comparisons made: {{comparison|length}}
			</p>
			<h2 class="text-gray-600 mb-4">
				Showing most promising results (similarity >= 0.5)
			</h2>
			{% for cp in comparison %} {% if cp['similarity'] >= 0.5 %}
			<div
				class="result grid grid-cols-4 gap-4 rounded-md border border-gray-300 px-4 py-2 my-6"
			>
				<div class="col-span-1">
					<h2>Similarity</h2>
				</div>
				<div class="col-span-3">
					<p
						class="{% if cp['similarity'] > 0.8 %} text-red-600 {% elif cp['similarity'] > 0.6 %} text-orange-600 {% else %} text-yellow-600 {% endif %}"
					>
						{{ cp['similarity'] }}
					</p>
				</div>
				<div class="col-span-1">
					<h2>User Sentence</h2>
				</div>
				<div class="col-span-3">
					<p class="text-gray-700">{{ cp['user_sentence'] }}</p>
				</div>
				<div class="col-span-1">
					<h2>Similar Context Found</h2>
				</div>
				<div class="col-span-3">
					<p class="text-gray-700">{{ cp['sample_sentence'] }}</p>
				</div>
				<div class="col-span-1">
					<h2>Source URL</h2>
				</div>
				<div class="col-span-3">
					<a href="{{cp['soruce_url']}}" class="text-blue-500 underline"
						>{{ cp['source_url'] }}</a
					>
				</div>
			</div>
			{% endif %} {% endfor %}

			<p id="result-count">Showing results</p>

			<div class="my-10">
				<a
					href="/"
					class="w-full text-md text-center bg-white border-2 hover:bg-blue-600 hover:text-white font-bold py-2 px-4 rounded"
				>
					<span class="mr-1">&#10229;</span>
					Check Another Sentence
				</a>
			</div>
		</div>
		<!-- Main content ends -->

		<!-- Footer starts -->
		<footer class="max-w-prose container mx-auto text-center my-10">
			<p class="text-gray-500 text-md">
				Authored by Andrew W. Meier and Gauravjot Garaya
			</p>
		</footer>
		<!-- Footer ends -->

		<script>
			const resultCount = document.getElementById("result-count");
			const results = document.querySelectorAll(".result");

			if (results.length === 0) {
				resultCount.innerHTML = `No results found over the set threshold. The user text is likely original.`;
			} else {
				resultCount.innerHTML = `Total of ${results.length} results`;
				resultCount.classList.add("text-gray-600", "mt-2", "font-medium");
			}
		</script>
	</body>
</html>
